<h2>Setup (home/setup.html.erb)</h2>
  <div>
    <nav>
      <a href="/">Home</a>
      <a href="/customers">Customer</a>
      <a href="#">Driver</a>
      <a href="#">Truck</a>
      <a href="#">Catalog</a>
    </nav>
  </div>