<%#
 Filename: app/views/home/setup.html.erb
 Directory: /Users/abruzzim/Documents/ga_wdi/projects/rocksolid/
 Author: Mario Abruzzi
 Date: 17-Jan-2014
 Desc: Project 1
 Notes: 
%>

<h2>Setup Menu</h2>
<% content_for :navbar do %>
  <div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/customers">Customer</a></li>
        <li><a href="/deliveries">Delivery</a></li>
        <li><a href="/drivers">Driver</a></li>
        <li><a href="/trucks">Truck</a></li>
        <li><a href="/rocks">Catalog</a></li>
    </ul>
    </nav>
  </div>
<% end %>