<h2>Setup</h2>
<% content_for :navbar do %>
  <div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/customers">Customer</a></li>
        <li><a href="/drivers">Driver</a></li>
        <li><a href="/trucks">Truck</a></li>
        <li><a href="/rocks">Catalog</a></li>
    </ul>
    </nav>
  </div>
<% end %>