<h2>Setup</h2>
<% content_for :navbar do %>
  <div>
    <nav>
      <a href="/">Home</a>
      <a href="/customers">Customer</a>
      <a href="#">Driver</a>
      <a href="#">Truck</a>
      <a href="#">Catalog</a>
    </nav>
  </div>
<% end %>