<%#= debug(assigns) %>
<%#= debug(headers) %>
<%#= debug(params) %>
<%#= debug(session) %>
<%#= debug(controller) %>
<%#= debug(flash) %>
<%#= debug(request) %>
<%#= debug(response) %>

<h2>Show Driver</h2>
<% content_for(:navbar) do %>
  <div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/drivers">Back</a></li>
      </ul>
    </nav>
  </div>
<% end %>

<p><b>Name:</b><%= @driver.name %></p>
